#cart-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
#cart-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
#cart-confirm {
    background:var(--seagreen2);
    color:white;
    padding:10px;
    margin:10px;
}