:root {
    --text-teal:#B4C4D9;
    --seagreen1:#013A40;
    --seagreen2:#01403A;
    --seagreen3:#025949;
    --seagreen4:#027353;
}
#faq-submit form {
    display:flex;
    justify-content: center;
    align-items:center;
    gap:20px;
}
#faq-submit p {
    color: var(--seagreen2) /*match have a question header*/
}
#faq-submit label {
    color: var(--seagreen2); /*match have a question header*/
}

#faq-submit {
    text-emphasis: center;
    margin:20px auto;
    padding: 20px;
    width:90%;
    background: rgba(0,0,0,0.3);
    

}
#faq-submit h2 {
    margin-top:0;
    text-align: center;
    color:var(--seagreen2);
}
#faq-submit p {
    text-align: center;

}
#faq-submit form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-top:10px;
}


@media only screen and (min-width: 700px) {
    #faq-submit form {
        flex-direction: column;

    }
}