:root {
    --text-teal:#B4C4D9;
    --seagreen1:#013A40;
    --seagreen2:#01403A;
    --seagreen3:#025949;
    --seagreen4:#027353;
}

.faq-item h2 {
    color: var(--seagreen2);

}

.faq-item {
    margin:20px;
    padding:10px;
    width:80%;
}

