:root {
    --text-teal:#B4C4D9;
    --seagreen1:#013A40;
    --seagreen2:#01403A;
    --seagreen3:#025949;
    --seagreen4:#027353;
}
#page {
        background:url("../images/header-backdrop.jpg");
        min-height: 100vh;
        background-size: 100% 100%;
        background-position: center;
    }