:root {
    --text-teal:#B4C4D9;
    --seagreen1:#013A40;
    --seagreen2:#01403A;
    --seagreen3:#025949;
    --seagreen4:#027353;
}
#fish-nav {
    width: 100%;
    flex-direction: column;
    padding:20px;
}
#fish-nav button {
    background:none;
    border:none;
    font-size: 28px;
    padding:20px;
    width:100%;
}
#fish-nav button:hover {
    color:var(--text-teal);
}

#btn-add-fish {
    background: var(--seagreen3);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

@media only screen and (min-width: 700px) {
    .columns {
        display: flex;
        gap:20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    #fish-nav {
        display: flex;
        justify-content: center;
        width:100%;
        flex-direction: row;
    }
    #fish-nav button {
        width:auto;
    }
    #fish-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}